

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* start header*/
.navbar {
	background-color: #5d5555;
	position: fixed;
	top: 0;
	width: 100%;
	box-shadow: 5px 5px 5px 5px #ccc;
	z-index: 2;
}

.navbar .dropdown-toggle::after {
	display: none;
}

.navbar .dropdown {
	margin-right: 5%;
}

.navbar .dropdown-basic {
	position: relative;
	border-radius: 22px;
	width: 44px;
	height: 44px;
	background-color: #146ebe;
	/* border-color: #000; */
}
.navbar .dropdown-basic1 {
	position: absolute;
	border-radius: 22px;
	width: 44px;
	height: 44px;
	top: 0px;
  	left: 0px;
	/* border-color: #000; */
}
.navbar-light .navbar-nav .nav-link {
    color: #f8f9fa;
}
.navbar #dropdown-basic2 {
	background-color: #146ebe;
}

.navbar .dropdown-toggle:hover {
	background-color: #5d5555;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color: rgba(219, 212, 212, 0.7);
}



.dropdown-item{
	color: #f8f9fa;
}

@media all and (min-width: 1024px) {
	.search {
		float: none;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		/* border-color: #000; */
	}

	.inputSearch {
		width: 25rem;
		/* border-color: #000; */
	}

	.topNav-right {
		float: right;
		margin-right: 10%;
	}

	.navbar .navbar-brand {
		margin-left: 10%;
		margin-right: 10%;
	}
}

@media all and (min-width: 768px) and (max-width: 1024px) {
	.topNav-right {
		float: none;
		margin-right: 8%;
		align-items: flex-start;
		justify-items: flex-start;
	}
}

.btn_search:hover {
	background-color: lawngreen;
}

.navbar-nav .dropdown-menu {
	position: static;
	background-color: #5d5555;
}

/* end header */

/* start footer */
.footer-page {
	text-align: center;
	/* justify-content: flex-start; */
}

.footer {
	height: 50px;
}

.bg-primary {
	--bs-bg-opacity: 0.8;
	background-color: #084298 !important;

}

.container-fluid.bg-primary h5 {
	color: #ffffff;
	padding: 12px 0;
}

.container-fluid.bg-primary .list-group-item-primary {
	color: #ffffff;
	background-color: #084298;
	border: 0;
	padding: 0;
	z-index: 0.8;
}

.container-fluid.bg-primary .list-group-item-primary:hover {
	background-color: lawngreen;
}

@media all and (min-width: 600px) {
	.container-fluid.bg-primary .col-md-12 .list-group-item-primary {
		float: none;
		position: relative;
		top: 50%;
		left: 27%;
		transform: translate(-110%, 40%);
	}
}

.icon-of-footer {
	display: block;
	font-size: 30px;
	padding-top: 10px;
}

.container-fluid.bg-primary .col-md-12 {
	border-top: #ffffff solid 0.6px;
}
/* end footer */

/* start product */
/* .card-product{
	transform: scale(1);
}
.card-product:hover{
	cursor: pointer;
	transform: scale(1.1);
} */
/* end product */
/* start show product */
.bread-crumbs {
	height: 30px;
	padding: 10px 30px;
	background: #f8f8f8;
	color: #000;
	display: flex;
	align-content: flex-end;
}
.bread-crumbs * {
	color: #000;
	font-size: 1.4rem;
	display: inline-block;
	text-decoration: none;
}

#main {
	display: flex;
	width: 100%;
	padding: 0 15px 30px;
	
}

.list-products > .wrapper-items {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.wrapper-items {
	padding : 20px;
}

.card-product {
	padding: 15px;
    box-shadow: 0px 0px 13.94px 3.06px rgb(24 67 124 / 9%);
	border-radius: 10px;
	max-width: 250px;
	margin: 20px 10px ;
}

.card-product > * {
	position: relative;
	font-size: 14px;
	color: #334862; 
}

.card-price {
	color: #111; 
	font-weight: bold;
}
.card-product:hover {
	transform: translateY(-15px);
	cursor: pointer;
	transition: transform 0.5s ease-out 0.1s;
}

.card-product:hover .card-img-top {
	opacity: 0.8;
	transform: scale(0.9);
	transition: transform 2s linear 0.2;
}

.card-btn {
	width: 100%;
	height: 30px;
	background-color:  var(--primary-color); 
	position: absolute;
	bottom: -30px;
	left: 0;
	z-index: 1;
	text-align: center;
	line-height: 30px;	
	color: #f1f1f1;
    font-weight: 600;
    visibility: hidden;
}

.card-btn > a{
	color: #f1f1f1;
    font-weight: 600;
}
.card-btn > a:hover {
	text-decoration: none;
	color: #f1f1f1;
    font-weight: 600;
}
.card-product:hover .card-btn {
	visibility: visible;
/* 	transform: translateY(-30px); */
	bottom : 0;
	transition: visibility 2s linear 0.2s,	bottom 2s aese-out 0.2;
}

.pagination {
	display: flex;
	justify-content: center;
	
}

.page-item.active .page-link {
	background-color: #26a65b;
	border: 1px solid #ddd;
}

.page-link  {
	margin: 2px;
	font-size: 14px;
	color: #212529;
}

#main {
	display: flex;
	flex-direction: column;
}
.orderby-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 16px;
}

input[type="checkbbox"] {
	height: 16px;
	width: 16px;
}

select {
	padding: 4px;
	border: 1px solid rgb(0 0 0 / 53%);
	border-radius: 5px;
	
}

.wrapper-show{
	display: flex;
	justify-content:center;
	background-color: #f6f6f6;
	padding: 20px;
}
.card-items {
	display: flex;
	flex-direction: row;
	box-shadow: 0 0 13px 2px rgb(0 0 0 / 10%);
    background: rgb(223, 215, 215);
    border-radius: 7px;
    padding: 30px;
    margin: 0px 20px 0 15px;
    border: 1px solid #CCC;
}


.slider-imgs{
	display: flex;
	flex-direction: column;
	
}

.slider-imgs img {
	margin: 5px 0;
	border: 1px solid #CCC;
}

.slider-imgs .product-img:hover {
	border: 1px solid #000;
	cursor: pointer;
}
.slider-imgs img.active{
	border: 1px solid #000;
}

		/* comment */
		.box-comments {
			width: 100%;
			padding: 2rem;
			border: 1px solid rgba(11, 131, 230, 0.4);
			border-radius: 15px;
			box-shadow: rgba(11, 131, 230, 0.4) 0px 0px 1rem;
		}
		
		.read-comment .card {
			background-color: #F0F8FF;
			margin-bottom: 1%;
		}
		
		.box-comments .write-comment {
			border-radius: 5px;
		}
		
		
		.read-comment .card-body {
			font-size: 16px !important;
			width: 100%;
		}
		
		.read-comment .card-body .card-title {
			font-size: 22px;
			margin: 0;
		}
		
		.fa-x {
			font-size: 1.5rem;
		}
		
		.read-comment p {
			margin-bottom: 0;
		}
		
		.comment-item-button button {
			padding: 2px 15px 2px 0;
		
		}
		
		.read-comment.rep {
			padding-left: 5.5rem;
		}
		
		.read-comment .date-comment i {
			display: inline;
			float: right;
			justify-content: right;
			padding-right: 5px;
			font-size: 16px;
		
		}
/* end Show product */
/* start login */
.landing {
	position: relative;
	background: url('./assets/lading3.jpg') no-repeat center center/cover;
	height: 100vh;
}

.dark-overlay {
	background-color: rgba(0, 0, 0, 0.5);
	height: 100%;
}

.landing-inner {
	height: 100%;
	margin: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.landing-inner form {
	width: 600px;
}

@media (max-width: 600px) {
	.landing-inner form {
		width: 500px;
	}
}

@media (max-width: 500px) {
	.landing-inner form {
		width: 80%;
	}
}

.landing-inner h1,
.landing-inner h2,
.landing-inner h4,
.landing-inner p {
	color: white;
}

:root {
	--main-color: #42BCFE;
}

.wapper {
	/* min-width: 576px; */
	background-color: #ccc;
}

.content {
	position: relative;
	display: block;
}

.content .img-logo {
	width: 100%;
	height: 100px;
	margin-top: 10px;
	margin-bottom: 10px;
	background-image: url(./assets/logo.png);
	background-size: 100px;
	background-repeat: no-repeat;
	background-position: center center;
	background-origin: content-box;
}

.content .login-content {
	position: absolute;
	top: 100%;
	width: 100%;
	height: 700px;
	margin: 10px 0;
	background-color: var(--main-color);
	background-clip: content-box;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-content .bia-login {
	position: absolute;
	right: 0;
	bottom: 0;
	width: 25%;
	min-width: 480px;
	height: 70%;
	background-image: url(./assets/bia-login2.png);
	background-size: contain;
	background-repeat: no-repeat;
	background-origin: content-box;
}

.form-check.form-check-inline {
    font-size: 28px;
	color: greenyellow;
}

/* end login */